server:
  port: 30000
spring:
  application:
    name: auth-center
  datasource:
    url: jdbc:mysql://192.168.6.203:3306/security?useSSL=false&userUnicode=true&characterEncoding=utf-8&serverTimezone=UTC
    username: root
    password: root
    driver-class-name: com.mysql.jdbc.Driver
  thymeleaf:
    prefix: classpath:/templates/
    suffix: .html
    cache: false